{% extends "layout.html" %}
    
{% block head %}
    <title>Guia Front-End</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="http://www.promovefacil.com.br/wp-content/uploads/2018/12/thumb-02.jpg" alt="">
    <h1>Guia Front-end</h1>
    <h2>HTML5 | CSS3 | JAVASCRIPT</h2>
    <p>Cursos de Front-End para Iniciantes em Programação</p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/luccahora/" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/luccahora/" target="_blank">Linkedin</a>
</div>

{% endblock %}